.header-logo {
	width: 70px;
}

.link-visuals {
	text-decoration: none!important;
	cursor: pointer!important;
}

.header {
	height: 80px;
}

.logout-button {
	cursor: pointer;
}

.account-parent {
	padding-top: 10px;
	width: 230px;
}